<div id="schedule">
    <table>
        <thead>
            <tr>
                <th>Horários</th>
                {{#each profissionais}}
                    <th>{{this.name}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each horarios}}
                <tr>
                    <td>{{this}}</td>
                    {{#each ../profissionais}}
                        <td>
                            {{#if (lookup ../../agendamentosOrganizados this._id ../this)}}
                                {{#each (lookup ../../agendamentosOrganizados this._id ../this)}}
                                    <div>{{this.service}} ({{this.clientName}})</div>
                                {{/each}}
                            {{else}}
                                <div>Sem agendamento</div>
                            {{/if}}
                        </td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>