<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/auth.css">
    <link rel="stylesheet" href="poupUp.css">
    <title>Autenticação</title>
</head>
<body>
    
    <section class="welcomeContainerAuth">
        <div class="msgEntrar">
            <h1>Bem vindo de volta!</h1>
            <p>Bem-vindo de volta! Que bom ter você novamente. Vamos continuar de onde paramos?</p>
            <button type="button" class="buttonWelcome" id="bttEntrar">Entrar</button>
        </div>

        <div class="msgCadastre">
            <h1>Olá!</h1>
            <p>Insira suas informações e embarque em uma nova jornada conosco!</p>
            <button type="button" class="buttonWelcome" id="bttCad">Cadastre-se</button>
        </div>
    </section>
    <section class="containerForms">
        <section class="formLogin formAuth">
            <h2>Entrar</h2>
            <form action="/login" method="post">
                <div class="containerButtonForm">
                    <a href="/auth/facebook"><img src="/images/icons8-f-do-facebook-50.png" alt="Login com Facebook"></a>
                    <a href="/auth/google"><img src="/images/icons8-google-plus-50.png" alt="Login com Google"></a>
                    <a href="/auth/linkedin"><img src="/images/icons8-linkedin-64.png" alt="Login com Linkedin"></a>
                </div>
                <p class="descForm">ou use sua conta de email</p>
        
                {{#if erros}}
                    {{#each erros}}
                        <div class="container_poupUpError">{{this.texto}}</div>
                    {{/each}}
                {{/if}}

                {{#if success_msg}}
                    <div class="container_poupUpSuccess">{{success_msg}}</div>
                {{/if}}
                {{#if error_msg}}
                    <div class="container_poupUpError">{{error_msg}}</div>
                {{/if}}
                <div class="containerInputForm">
                    <div class="ThisInput">
                        <div><img src="/images/icons8-nova-mensagem-50.png" alt="campo de email"></div>
                        <input type="email" placeholder="email" name="email">
                    </div>
                    <div class="ThisInput">
                        <div><img src="/images/icons8-trancar-48.png" alt="campo de senha"></div>
                        <input type="password" placeholder="senha" name="password">
                    </div>
                    <a href="" class="buttonForgotPassword">esqueceu sua senha?</a>
                </div>
                <button type="submit" class="buttonSubmit">Entrar</button>
            </form>
        </section>

        <section class="formCad formAuth">
            <h2>Faça parte</h2>
            <form action="/auth" method="post">
                <div class="containerButtonForm">
                    <a href=""><img src="/images/icons8-f-do-facebook-50.png" alt="Login com Facebook"></a>
                    <a href=""><img src="/images/icons8-google-plus-50.png" alt="Login com Google"></a>
                    <a href=""><img src="/images/icons8-linkedin-64.png" alt="Login com Linkedin"></a>
                </div>
                <p class="descForm">ou use sua conta de email</p>

                {{#each erros}}
                    <div class="container_poupUpError">{{this.texto}}</div>
                {{/each}}

                {{#if success_msg}}
                    <div class="container_poupUpSuccess">{{success_msg}}</div>
                {{/if}}
                {{#if error_msg}}
                    <div class="container_poupUpError">{{error_msg}}</div>
                {{/if}}

                <div class="containerInputForm">
                    <div class="ThisInput">
                        <div><img src="/images/icons8-usuário-48.png" alt="campo de nome"></div>
                        <input type="nome" name="name">
                    </div>
                    <div class="ThisInput">
                        <div><img src="/images/icons8-nova-mensagem-50.png" alt="campo de email"></div>
                        <input type="email" name="email">
                    </div>
                    <div class="ThisInput">
                        <div><img src="/images/icons8-trancar-48.png" alt="campo de senha"></div>
                        <input type="password" name="password">
                    </div>
                </div>
                <button type="submit" class="buttonSubmit">Cadastre-se</button>
            </form>
        </section>
    </section>
    <script>
        var welcomeContainerAuth = document.querySelector(".welcomeContainerAuth")
        var msgEntrar = document.querySelector(".msgEntrar")
        var msgCadastre = document.querySelector(".msgCadastre")
        var formLogin = document.querySelector(".formLogin")
        var formCad = document.querySelector(".formCad")
        var containerForms = document.querySelector(".containerForms")

        var bttEntrar = document.querySelector("#bttEntrar")
        var bttCad = document.querySelector("#bttCad")

        function animeLeft(){
            containerForms.style.transition = "1s ease-in-out"
            containerForms.style.right = "0%"

            msgCadastre.style.display = "none"
            msgEntrar.style.display = "flex"

            formLogin.style.display = "none"
            formCad.style.display = "flex"

            welcomeContainerAuth.style.transition = "1s ease-in-out"
            welcomeContainerAuth.style.right = "60%"
        }
        bttCad.addEventListener("click", animeLeft)

        function animeRight(){
            containerForms.style.transition = "1s ease-in-out"
            containerForms.style.right = "40%"

            msgCadastre.style.display = "flex"
            msgEntrar.style.display = "none"

            formLogin.style.display = "flex"
            formCad.style.display = "none"

            welcomeContainerAuth.style.transition = "1s ease-in-out"
            welcomeContainerAuth.style.right = "0%"
        }
        bttEntrar.addEventListener("click", animeRight) 
    </script>
</body>
</html>