<!--Esta é a página que será carregada ao clicar no botão de serviços-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addEstabelecimento.css">
    <link rel="stylesheet" href="/services.css">
    <title>Serviços</title>
</head>
<body>
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            LOGO AQUI
        </div>
        {{>menuServicos}}
    </aside>
    <main class="panel">
        <header class="HeaderPanel">
            <div>
                <a class="doboutButton"><img src="/images/icons8-dúvida-100.png" alt="manual da aplicação"></a>
            </div>
            <div class="infoUsuario">
                <span>nome de usuário</span>
                <span class="userPicture"><!--<img src="/images/icons8-adicionar-usuário-masculino-90.webp" alt="imagem do usuário">--></span>
            </div>
        </header>
        <nav class="navPanelService">
            <button class="buttonNavHeader" type="button" id="openFormService">
                <img src="/images/icons8-adicionar-100.webp" alt="adicionar serviço">
            </button>
        </nav>
        <section class="ConteinerInfo">
            <section class="viewPanel">
                <section class="sectionServices">
                    {{#each services}}
                    <div class="containerService">
                        <div class="nameService">
                            {{name}}
                        </div>
                        <span class="line"></span>
                        <div class="descriptionService">
                            {{description}}
                        </div>
                        <span class="line"></span>
                        <div class="valueService">
                            {{value}} R$
                        </div>
                        <div class="navRightService">
                            <a href="/deleteservice/{{_id}}">
                                <img src="/images/icons8-lixeira-48.png" alt="deletar serviço">
                            </a>
                        </div>
                    </div>
                    {{else}}
                    {{/each}}
                </section>
            </section>
        </section>
    </main>

    <section class="poupUpForm" id="containerFormService">
        <section class="containerForm">
            <header>
                <p class="titleForm">Novo Serviço</p>
                <button type="button" class="buttonClosePoupUp" id="closeFormService"><img src="/images/icons8-excluir-50.png" alt="fechar formulário"></button>
            </header>
            <form action="/addservice" method="post" class="formMain">
                <section class="partForm">
                    <h2>serviço</h2>
                    <input type="text" name="name" class="inputName" placeholder="nome">
                    <textarea name="description" class="textArea" placeholder="descrição"></textarea>
                </section>
                <section class="partForm">
                    <h2>valor</h2>
                    <input type="number" min="0" name="value">
                </section>
                <button type="submit" class="buttonSaveSubmit">salvar</button>
            </form>
        </section>
    </section>

    <script>
        var openFormService = document.querySelector("#openFormService")
        var closeFormService = document.querySelector("#closeFormService")
        var containerFormService = document.querySelector("#containerFormService")

        function openForm(){
            containerFormService.style.display = "flex"
        }
        openFormService.addEventListener("click", openForm)

        function closeForm(){
            containerFormService.style.display = "none"
        }
        closeFormService.addEventListener("click", closeForm)
    </script>
</body>
</html>