<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estabelecimentos.css">
    <title>Estabelecimentos</title>
</head>
<body>
    {{#if aviso_msg}}
        <section class="container_msgAviso">
            <div class="popAviso">
                <span>
                    <img src="/images/icons8-ponto-de-exclamação-64.png" alt="aviso">
                </span>
                <h1>aviso!</h1>
                <p>
                    {{aviso_msg}}
                </p>
                <div>
                    <button id="closeAviso">
                        <img src="/images/icons8-excluir-48.png" alt="fechar popUp">
                    </button>
                </div>
            </div>
        </section>
    {{/if}}
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            LOGO AQUI
        </div>
        {{>menuEstabelecimentos}}
    </aside>
    <main class="panel">
        <header class="HeaderPanel">
            <div>
                <button class="doboutButton">
                    <p>
                        Ajuda
                    </p>
                    <img src="/images/icons8-ajuda-32.png" alt="manual da aplicação">
                </button>
            </div>
            <div class="infoUsuario">
                {{#if user}}
                    <span>{{user.name}}</span>
                {{else}}
                    erro ao carregar os dados
                {{/if}}
            </div>
        </header>
        <section class="ConteinerInfo">
            <section class="viewPanel">
                {{#each estab}}
                    <div class="containerRelatorio">
                        <div class="descEstabelecimento">                
                            <h2>{{nomeEstabelecimento}}</h2>
                            <span>Horário de funcionamento: {{horarioInicial}}h ás {{horarioFinal}}h</span>
                            <span>{{endereco}}</span>
                        </div>
                        <a href="/editestabelecimento/{{_id}}" class="buttonConfig"><!--deve levar para a página de editar estabelecimento-->
                            <img src="/images/icons8-configurações-100.webp" alt="configurações do estabelecimento">
                        </a>
                    </div>
                    <section class="containerDataEstab">
                        <div class="sectionGraphic">
                            <header>
                                Agendamentos nos últimos 30 dias
                            </header>
                            <canvas class="containerGraphic" id="myChart" style="width: 100%; height: 250px;"></canvas>
                        </div>
                        <div class="ContainerClassificacao">
                            <div class="ContainerDataMain">
                                <h2>Novos clientes</h2>
                                <span>56</span>
                            </div>
                            <div class="ContainerDataMain">
                                <h2>Agendamentos mensais</h2>
                                <span>96</span>
                            </div>
                            <div class="ContainerDataMain">
                                <h2>Serviços mais vendidos</h2>
                                <div>
                                    <span><img src="/images/icons8-diamante-48.png" alt="serviço mais vendido"> serviço 1</span>
                                    <span><img src="/images/icons8-diamante-48.png" alt="serviço mais vendido"> serviço 2</span>
                                </div>
                            </div>
                        </div>
                    </section>
                {{else}}
                    <div class="buttonLink">
                        <a href="/addestabelecimento"><img src="/images/icons8-adicionar-100.webp" alt="novoEstabelecimento"></a>
                    </div>
                {{/each}}
            </section>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script><!--Buscando o ChartJS-->

    <!--Script para buscar os dados do Gráfico-->
    <script>
    // Faz a requisição para buscar os dados
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/agendamentospordias')
            .then((response) => {
            if (!response.ok) {
                throw new Error('Erro na requisição');
            }
            return response.json();
            })
            .then((data) => {
                const ctx = document.getElementById('myChart').getContext('2d');

                // Criando o gradiente linear
                const gradient = ctx.createLinearGradient(0, 0, 0, 400);
                gradient.addColorStop(0, 'rgb(31, 80, 85)'); // Verde-azulado claro (40% opacidade)
                gradient.addColorStop(1, 'rgba(31, 80, 85, 0.1)');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                    labels: data.labels, // Datas no eixo X
                    datasets: [{
                        data: data.data, // Quantidade no eixo Y
                        borderColor: '#1F5055',
                        backgroundColor: gradient,
                        tension: 0, // Suaviza as linhas
                        borderWidth: 2,
                        pointRadius: 1, // Remove os pontos
                        pointHoverRadius: 1, // Remove os pontos ao passar o mouse
                        fill: true,
                    }],
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,

                        plugins: {
                            legend: {
                                display: false // Desativa a exibição da legenda
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                                grid: {
                                    drawBorder: true, // Mostra a linha do eixo Y
                                    display: false // Remove as linhas da grade horizontal
                                },
                                ticks: {
                                    display: true, // Mantém os ticks no eixo Y
                                    stepSize: 1,
                                    callback: function (value) {
                                        return Number.isInteger(value) ? value : ''; // Mostra apenas inteiros
                                    },
                                }
                            },
                            x: {
                                grid: {
                                    display: false
                                },
                                ticks: {
                                    display: false
                                }
                            }
                        },
                    },
                });
            })
            .catch((error) => console.error('Erro ao buscar dados:', error));
        });
    </script>
</body>
</html>