<!--Esta é a página que será carregada ao clicar no botão de estabelecimentos-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estabelecimentos</title>
</head>
<body>
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            LOGO AQUI
        </div>
        {{>menuEstabelecimentos}}
    </aside>
    <main class="panel">
        <header class="HeaderPanel">
            <div>
                <button class="doboutButton"><img src="/images/icons8-dúvida-100.png" alt="manual da aplicação"></button>
            </div>
            <div class="infoUsuario">
                <span>nome de usuário</span>
                <span class="userPicture"><!--<img src="/images/icons8-adicionar-usuário-masculino-90.webp" alt="imagem do usuário">--></span>
            </div>
        </header>
        <section class="ConteinerInfo">
            <section class="viewPanel">
                {{#each estab}}
                    <div class="testediv">
                        <div class="descEstabelecimento">                
                            <h2>{{nomeEstabelecimento}}</h2>
                            <span>Horário de funcionamento: 8h ás 21h</span>
                            <span>descrição do estabelecimento</span>
                        </div>
                        <a href="/editestabelecimento/{{_id}}" class="buttonConfig"><!--deve levar para a página de editar estabelecimento-->
                            <img src="/images/icons8-configurações-100.webp" alt="configurações do estabelecimento">
                        </a>
                    </div>
                    <section class="containerDataEstab">
                        <div><!--adicionar o gráfico aqui dentro--></div>
                        <div class="ContainerClassificacaoProf">
                            Profissionais com mais atendimentos
                            {{#each profissionais}}
                                <span class="containerTopProf">
                                    <a href=""><div></div>{{this}}</a>
                                </span>
                            {{else}}
                                Sem profissionais selecionados
                            {{/each}}
                        </div>
                    </section>
                {{else}}
                    <div class="buttonLink">
                        <a href="/addestabelecimento"><img src="/images/icons8-adicionar-100.webp" alt="novoEstabelecimento"></a>
                    </div>
                {{/each}}
            </section>
        </section>
    </main>
</body>
</html>