<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estabelecimentos.css">
    <title>Estabelecimentos</title>
</head>
<body>
    {{#if aviso_msg}}
        <section class="container_msgAviso">
            <div class="popAviso">
                <span>
                    <img src="/images/icons8-ponto-de-exclamação-64.png" alt="aviso">
                </span>
                <h1>aviso!</h1>
                <p>
                    {{aviso_msg}}
                </p>
                <div>
                    <button id="closeAviso">
                        <img src="/images/icons8-excluir-48.png" alt="fechar popUp">
                    </button>
                </div>
            </div>
        </section>
    {{/if}}
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            <img src="/images/logoGlamii.png" alt="glamii software">
        </div>
        {{>menuEstabelecimentos}}
        <a href="/logout" class="boxButtons" id="LogOut">
            <div class="ContainerIconMenuLeft"><img src="/images/icons8-sair-100.png" alt="Deslogar"></div>
            <p>LogOut</p>
        </a>
    </aside>

    <main class="panel">
        <header class="HeaderPanel">
            <div>
                <button class="doboutButton">
                    <img src="/images/icons8-ajuda-32.png" alt="manual da aplicação">
                </button>
            </div>
            <div class="infoUsuario">
                {{#if user}}
                    <span>{{user.name}}</span>
                    <span class="picture_adm">
                        <img src="/images/perfilGendaiTeste.png" alt="foto de perfil"><!--link deve vir do cloudnary-->
                    </span>
                {{else}}
                    <span>Usuário não encontrado</span>
                    <span class="picture_adm_notFound">
                        <img src="/images/icons8-usuário-90 (1).png" alt="foto de perfil">
                    </span>
                {{/if}}
            </div>
        </header>
        <section class="ConteinerInfo">


            <section class="viewPanel">
                {{#each estab}}
                    <div class="containerRelatorio">
                        <div class="descEstabelecimento">                
                            <h2>{{nomeEstabelecimento}}</h2>
                        </div>


                        <div class="infoEstabelecimento">
                            <span>Horário de funcionamento: {{horarioInicial}}h - {{horarioFinal}}h</span>
                            <span id="endereco">{{endereco}}</span>
                        </div>
                        <a href="/editestabelecimento/{{_id}}" class="buttonConfig"><!--deve levar para a página de editar estabelecimento-->
                            <img src="/images/icons8-configurações-100.webp" alt="configurações do estabelecimento">
                        </a>
                    </div>


                    <section class="containerDataEstab">
                        <div class="sectionGraphic">
                            <header>
                                Estatísticas de Agendamentos
                            </header>
                            <canvas class="containerGraphic" id="myChart" style="width: 100%; height: 250px;"></canvas>
                        </div>

                        <div class="ContainerClassificacao">
                            <div class="ContainerDataMain">
                                <h2>Novos clientes</h2>
                                <div class="containerResultsDataMain">
                                    <div>
                                        <span><!--resultado em porcentagem aqui-->
                                            {{novosClientesUltimos30Dias}}
                                        </span>
                                        <span class="iconResult"><!--icon de positivo ou negativo dever vir aqui-->
                                            <img src="images/icons8-gráfico-combinado-100.png" alt="">
                                        </span>
                                    </div>
                                    <span class="numberClientes">
                                        +{{novosClientesUltimos30Dias}}
                                    </span>
                                </div>
                            </div>
                            <div class="ContainerDataMain">
                                <h2>Agendamentos mensais</h2>
                                <div class="containerResultsDataMain">
                                    <div>
                                        <span><!--resultado em porcentagem aqui-->
                                            +5,5%
                                        </span>
                                        <span class="iconResult"><!--icon de positivo ou negativo dever vir aqui-->
                                            <img src="images/icons8-gráfico-combinado-100 (1).png" alt="">
                                        </span>
                                    </div>
                                    <span class="numberClientes">93</span>
                                </div>
                            </div>
                            <div class="ContainerDataMain">
                                <h2>Serviços mais vendidos</h2>
                                <div class="containerBestServices"><!--Aqui deve conter uma listagem dos dois serviços mais acessados-->
                                    <span>
                                         <p>service one</p>
                                        <p>145</p>
                                    </span>
                                    <span>
                                        <p>service two</p>
                                        <p>137</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                {{else}}
                    <div class="buttonLink">
                        <a href="/addestabelecimento">
                            <img src="/images/icons8-soma-30.png" alt="novoEstabelecimento">
                            <p>estabelecimento</p>
                        </a>
                    </div>
                {{/each}}
            </section>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script><!--Buscando o ChartJS-->

    <!--Script para buscar os dados do Gráfico-->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        fetch('/agendamentospordias')
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Erro na requisição');
                }
                return response.json();
            })
            .then((data) => {
                const ctx = document.getElementById('myChart').getContext('2d');

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels, // Datas no eixo X
                        datasets: [{
                            data: data.data, // Quantidade no eixo Y
                            borderColor: '#1F5055',
                            backgroundColor: '#E1F297', // Cor de fundo inicial
                            hoverBackgroundColor: '#59B989', // Cor de fundo ao passar o mouse
                            tension: 0, // Suaviza as linhas
                            borderWidth: 0,
                            borderRadius: 20,
                            pointRadius: 1, // Remove os pontos
                            pointHoverRadius: 1, // Remove os pontos ao passar o mouse
                            fill: true,
                        }],
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: false // Desativa a exibição da legenda
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                                grid: {
                                    drawBorder: true, // Mostra a linha do eixo Y
                                    color: 'red', // Cor das linhas de grade do eixo Y
                                    display: false // Exibe as linhas da grade horizontal
                                },
                                ticks: {
                                    display: true, // Mantém os ticks no eixo Y
                                    stepSize: 1,
                                    callback: function (value) {
                                        return Number.isInteger(value) ? value : ''; // Mostra apenas inteiros
                                    },
                                    color: '#209F84',
                                },
                                borderColor: '#209F84', // Cor da linha do eixo Y
                            },
                            x: {
                                grid: {
                                    drawBorder: true, // Mostra a linha do eixo X
                                    color: 'red', // Cor das linhas de grade do eixo X
                                    display: false // Exibe as linhas da grade vertical
                                },
                                ticks: {
                                    display: false
                                },
                                borderColor: 'red', // Cor da linha do eixo X
                                color: '#209F84', // Cor dos ticks do eixo X
                            }
                        },
                        hover: {
                            mode: 'index', // Ajusta o comportamento do hover
                            intersect: false, // Permite hover em qualquer lugar do gráfico
                            animationDuration: 100, // Duração da animação
                        },
                    },
                });
            })
            .catch((error) => console.error('Erro ao buscar dados:', error));
        });
    </script>

    
</body>
</html>